<!--<label>Server</label>-->
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<button [disabled] = "!serverName" (click)="onResetServerName()">Reset</button>
<hr>
<label>Server</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-pimary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add</button>

<!--<p> {{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated">Server created, name: {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>

<hr>

<button (click)="showParagraph($event)">Toggle</button>

<p *ngIf="buttonToggle===false">Paragraf</p>

<p *ngFor="let event of events" [ngClass]="{future: event > 4 }">{{ event }}</p>